<p>
    Static form
</p>
<div>
    <form >
        <p-panel header="Some tri-state">
            <label>A tri state</label>
            <p-triStateCheckbox name="threeState" ngModel></p-triStateCheckbox>
        </p-panel>
        <p-panel header="Some Options">
            <p-checkbox name='checkBoxes' [ngModel]="i1" *ngFor="let option of allOptions" [value]="option.value" [label]="option.label" ></p-checkbox>
        </p-panel>
        <p-panel header="Multi Select">
            <p-multiSelect name="multiSelect" [options]="allOptions" [ngModel]="i2"></p-multiSelect>
        </p-panel>
        <p-panel header="Single Select">
            <p-dropdown name="singleSelect" [options]="allOptionsAndNull"  ngModel></p-dropdown>
        </p-panel>
    </form>
    <p-panel header="Model raw">
        <pre>{{ f.form.value | json}}</pre>
    </p-panel>
</div>
