<p>
    Dynamic (Reactive) form
</p>
<form [formGroup]="form">
    <p-panel *ngFor="let filter of filters" [header]="filter.name">
        <div [ngSwitch]="filter.type">
            <div *ngSwitchCase="'flag'">
                <label>{{filter.name}}</label>
                <p-triStateCheckbox [name]="filter.id" [formControlName]="filter.id"></p-triStateCheckbox>
            </div>
            <div *ngSwitchCase="'singleChoice'">
                <p-dropdown [options]="options[filter.id]" [formControlName]="filter.id"></p-dropdown>
            </div>
            <div *ngSwitchCase="'multiChoice'">
                <p-multiSelect  [options]="options[filter.id]" [formControlName]="filter.id"></p-multiSelect>
            </div>
            <div *ngSwitchDefault>
                An error Unknwon filter type: {{filter.type}} for filter: {{filter.name}}
            </div>
        </div>
    </p-panel>
</form>
<p-panel header="(Debug) --> Model contents">
    <pre>{{ form.value | json}}</pre>
</p-panel>


